{% extends "layout.twig" %}

{% import "schools/form.twig" as macros %}

{% block content %}

    <body>
    <div id="app-form">
    <h1>
    {% block title %}
        Αίτηση <small></small>
    {% endblock %}
    </h1>
    <form method="post" action="" data-is-valid="{{ form.is_valid | default(true) ? '1' : '0' }}"
          data-messages="{{ form.messages|default({})|json_encode }}" >
        <div class="form-group">
              <p>
                        <h1>Φόρμα εκδήλωσης ενδιαφέροντος</h1>
                        <br>
                        Στην δράση των edulabs μπορεί να συμμετέχει ακαδημαϊκό και ερευνητικό προσωπικό από όλα τα Πανεπιστήμια και Ερευνητικά Κέντρα  με εμπειρία σε STEAM που θέλει να συνεργαστεί με τα σχολεία στην αξιοποίηση των 140 <a href="http://edulabs.minedu.gov.gr/">edulabs </a>που εγκαθίστανται σε σχολεία σε όλες τις εκπαιδευτικές διευθύνσεις.

						<br>Παρακαλώ συμπληρώστε τα στοιχεία σας και θα επικοινωνήσουμε μαζί σας. 
                </p>
         </div>

        <div class="table-responsive">

   

       <fieldset>
                <div id="items-list">
                    {{ macros.select('idrima', 'Ίδρυμα', '', form.values.idrima, { 'id': 'idrima'} )}}
                    {{ macros.select('sxolh', 'Σχολή','', form.values.sxolh,{ 'id': 'sxolh'} ) }}
                    {{ macros.select('tmhma', 'Τμήμα','', form.values.tmhma, { 'id': 'tmhma'}) }}
                    {{ macros.input('erga', 'Εργαστήριο',form.values.erga ) }}
                    {{ macros.input('person', 'Υπεύθυνος Επικοινωνίας',form.values.person ) }}
                    {{ macros.input('telef', 'Τηλέφωνο',form.values.telef ) }}
                    {{ macros.input('email', 'Email',form.values.email ) }}
                    {{ macros.text('comments', 'Σχόλια/Παρατηρήσεις', form.values.comments) }}
                                       
                </div>

                <div class="form-group text-center">
                    <button name="submit" value="submit" type="submit" class="btn btn-lg btn-primary">Υποβολή</button>
                    <input type="hidden" name="id" value="{{ form.values.id }}">
                    <input type="hidden" name="hididrima" id="hididrima" value="{{form.values.idrima}}">
                    <input type="hidden" name="hidsxolh" id="hidsxolh" value="{{form.values.sxolh}}">
                    <input type="hidden" name="hidtmhma" id="hidtmhma" value="{{form.values.tmhma}}">
                </div>
                <input type="hidden" name="{{ csrf.name_key }}" value="{{ csrf.name }}">
                <input type="hidden" name="{{ csrf.value_key }}" value="{{ csrf.value }}">
        </fieldset>
    </div>
            </form>
 
    </div>
</body>

{% endblock %}
{% block inlinejs %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="{{ base_url() }}/js/jquery-3.1.1.min.js"></script>
    <script src="{{ base_url() }}/js/university_form/index.js"></script>
     <script type="text/javascript">
    </script>
    
{% endblock %}